---
layout: default
---
{% assign project = site.projects | where: "uid", page.project_uid | first %}
{% assign task = page %}

<h1>
  {% if page.h1 %}
    {{ page.h1 }}
  {% else %}
    {{project.title}}, {{task.title}}
  {% endif %}
</h1>
<p>
  {% include project_link.html %}
</p>

{{ content }}

{% assign image_path = project.uid | append: "/" | append: task.uid %}
{% include gallery.html %}

<h2>{{project.title}} project workflow</h2>
{% include graph.html %}
<p>
  {% include project_link.html %}
</p>
